button {
    margin-top: 20px;
}

.form-group small {
    visibility: hidden;
    color: red;
}

.form-group.error small {
    visibility: visible;
    color: red;
}

.form-group.success small {
    visibility: hidden;
}

.form-group.error input {
    border-color: crimson;
}